[run]
branch = True
source =
    apps
    config
    ops
    scripts
omit =
    */migrations/*
    */tests/*
    */test_*.py
    */tests.py

[report]
show_missing = True
skip_covered = True
precision = 1
